<section class="p-20">
  <div class="rules">
    <h1>Hello There</h1>
    <p>
      {@emojis}
    </p>
    <ol>
      <%= for rule <- @rules do %>
        <li>
          <a href={~p"/rules/#{rule.id}"}>
            {rule.text}
          </a>
        </li>
      <% end %>
    </ol>
  </div>
</section>
